/* src/pages/AboutUs/AboutUs.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .about-us-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
  }
  
  .about-us-header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .about-us-main {
    background-image: url('../assets/gym-image.jpg'); 
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .about-us-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-flex-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  .about-us-content-box {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    padding: 20px;
    margin: 10px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Adds a subtle blur to the background behind the box */
    border-radius: 10px; /* Optional: rounds the corners for a smoother look */
}

