.contact-box {
    background-color: rgba(255, 255, 255, 0.8); /* white textbook*/
    border-radius: 8px;                         /* Rounded corners */
    width: 400px;                              /* Width of the box */
    height: 500px;                             /* Height of the box */
    position: absolute;                        /* Positioning */
    top: 200px;                               /* Distance from the top */
    left: 130px;                              /* Distance from the left */
    padding: 20px;                             /* Padding inside the box */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-image: url('../assets/background.jpg'); /* Set background image */
    background-size: cover;                    /* Cover the entire area */
}

.contact-header {
    text-align: center;                        /* Center the header text */
    margin-bottom: 15px;                       /* Space below the header */
}

.contact-header h1 {
    font-size: 30px;                           /* Size of the header text */
    margin: 0;                                 /* Remove default margin */
}

.contact-textarea {
    width: 215%;                               /* Full width of the box */
    height: 38px;                            /* Set height of the text area to fill remaining space */
    border: 1px solid #000000;                    /* Light gray border */
    border-radius: 4px;                        /* Rounded corners */
    padding: 10px;                             /* Padding inside the text area */
    font-size: 14px;                           /* Font size */
    resize: none;                              /* Disable resizing */
}
/*this is just adding the textbox and the header*/