@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'KronaOne';
    src: url('../assets/fonts/KronaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.Nutrition-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 40px; /* Increased padding for better spacing */
    color: white;
    font-family: 'Inter', sans-serif; /* Optional: Set a default font */
}

.Nutrition-header div {
    font-size: 18px; /* Adjust font size for consistency */
    font-weight: bold;
}

.Nutrition-header nav {
    display: flex;
    gap: 20px; /* Add spacing between nav items */
}

.Nutrition-header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.Nutrition-header nav a:hover {
    text-decoration: underline; /* Optional: Add hover effect */
}

.login-button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    background-color: white;
    color: black;
}


.krona-one-font {
    font-family: 'KronaOne', serif;
}


.inter-font {
    font-family: 'Inter', sans-serif;
}